@import '../../shared/scss/config';

.timetable {
    flex: 1 1 auto;
    display: flex;

    &--with-content {
        flex-direction: column;
    }
    
    &--without-content {
        justify-content: center;
        align-items: center;
    }

    &__error {
        text-align: center;
        padding: 10px;
    }

    &__header {
        background-color: $darkGrey;
        padding: 30px 10px 10px 10px;
        border-bottom: 5px solid #FFF;
    }

    &__title {
        text-align: center;
        font-size: 2rem;
    }
}