@import '../../shared/scss/config';

.timetable {
    flex: 1 1 auto;
    display: flex;

    &--with-content {
        flex-direction: column;
    }
    
    &--without-content {
        justify-content: center;
        align-items: center;
    }

    &__error {
        text-align: center;
        padding: 10px;
    }

    &__header {
        background-color: $darkGrey;
        padding: 30px 10px 10px 10px;
        border-bottom: 5px solid #FFF;

        @media (max-width: 600px) {
            padding: 10px 55px;
        }
    }

    &__title {
        text-align: center;
        font-size: 2rem;

        @media (max-width: 600px) {
            font-size: 1.5rem;
        }
    }

    &__wrapper {
        flex: 1 1 auto;    
        display: flex;
        
        &--data-not-fetched {
            justify-content: center;
            align-items: center;
        }

        &--data-fetched {
            overflow-y: auto;
            overflow-x: hidden;
            flex-direction: column;
            padding: 10px;
            padding-bottom: 0;
        }
    }

    &__loader {
        padding: 10px;
    }

    &__footer {
        flex: 0 0 auto;
        text-align: right;
        padding-bottom: 10px;

        @media (max-width: 1170px) {
            text-align: center;
        }
    }

    &__content {
        flex: 1 0 auto;
        padding: 80px;

        @media (max-width: 600px) {
            padding: 50px 0;
        }
    }
}