@import '../../shared/scss/config';

.mobile-app {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    min-width: 250px;
    padding: 10px;

    &__wrapper {
        width: 80%;
        max-width: 300px;
        flex-grow: 0;
        flex-shrink: 1;
    }

    &__button {
        font-size: 16px;

        &:first-child {
            margin-bottom: 15px;
        }
    }

    &__fetching-error {
        text-align: center;
    }
}